﻿@page "/sledsoverview"
@using SledRentals_DeOliveira.Data

@inject IUnitOfWork uow;

<AuthorizeView Roles="Admin">
    <Authorized>
        <PageTitle>Sleds</PageTitle>

        <h3>Sled Overview</h3>

        @if (sleds == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Sled ID</th>
                        <th>Title</th>
                        <th>Purchase Date</th>
                        <th>Title</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Sled in sleds)
                    {
                        <tr>
                            <td>@Sled.SledID</td>
                            <td>@Sled.Title</td>
                            <td>@Sled.PurchaseDate</td>
                            <td>@Sled.SledCategory.Title</td>
                            <td>
                                <a class="btn btn-primary" @onclick="@(() => DeleteSledAsync(Sled.SledID))"><i class="oi oi-trash"></i></a>
                                <a class="btn btn-primary" href="@($"slededit/{Sled.SledID}")"><i class="oi oi-pencil"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="/slededit">Create a new sled</a>
        }
    </Authorized>
    <NotAuthorized>
        <h1>Access denied!</h1>
    </NotAuthorized>
</AuthorizeView>

