﻿@page "/slededit"
@page "/slededit/{SledID}"
@using SledRentals_DeOliveira.Data
@using SledRentals_DeOliveira.Data.Models

@inject IUnitOfWork uow
@inject IHttpContextAccessor httpContextAcessor
@inject NavigationManager NavManager

<AuthorizeView Roles="Admin" Context="authContext">
    <Authorized>
        <section class=Product_edit>
            <EditForm Model="@Sled" OnValidSubmit=@OnValidSubmission Context="formContext">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="form-btn-group row">
                    @if (@SledID != null)
                    {
                        <h1 class="page-title">Details for @Sled.SledID</h1>
                        <hr />
                        @*Title*@
                        <label for="title" class="col-sm-2 col-form-label">
                            Title
                        </label>
                        <div class="col-sm-10">
                            <InputText id="title" @bind-Value="@Sled.Title" class="form-control" placeholder="Enter title" />
                            <ValidationMessage For="() => Sled.Title" class="col" />
                        </div>
                        @*Purchase Date*@
                        <label for="pDate" class="col-sm-2 col-form-label">
                            Title
                        </label>
                        <div class="col-sm-10">
                            <InputDate id="pDate" @bind-Value="@Sled.PurchaseDate" class="form-control" placeholder="Enter purchase date" />
                            <ValidationMessage For="() => Sled.PurchaseDate" class="col" />
                        </div>
                        @*Category*@
                        <label for="sCategory" class="col-sm-2 col-form-label">
                            Category
                        </label>
                        <div class="col-sm-10">
                            <InputSelect id="sCategory" @bind-Value="@Sled.SledCategoryID" class="form-control">
                                @if (SledCategories != null)
                                {
                                @foreach (var sCategory in SledCategories)
                                    {
                                    <option value="@sCategory.SledCategoryID">@sCategory.Title</option>
                                    }
                                }
                        </InputSelect>
                        <ValidationMessage For="() => Sled.SledCategoryID" class="col" />
                    </div>
                    }
                    else
                    {
                        <h1 class="page-title">Create a new sled</h1>
                        <hr />
                        @*Title*@
                        <label for="title" class="col-sm-2 col-form-label">
                            Title
                        </label>
                        <div class="col-sm-10">
                            <InputText id="title" @bind-Value="@Sled.Title" class="form-control" placeholder="Enter title" />
                            <ValidationMessage For="() => Sled.Title" class="col" />
                        </div>
                        @*Purchase Date*@
                        <label for="pDate" class="col-sm-2 col-form-label">
                            Purchase Date
                        </label>
                        <div class="col-sm-10">
                            <InputDate id="pDate" @bind-Value="@Sled.PurchaseDate" class="form-control" placeholder="Enter purchase date" />
                            <ValidationMessage For="() => Sled.PurchaseDate" class="col" />
                        </div>
                        @*Category*@
                        <label for="sCategory" class="col-sm-2 col-form-label">
                            Category
                        </label>
                        <div class="col-sm-10">
                            <InputSelect id="sCategory" @bind-Value="@Sled.SledCategoryID" class="form-control">
                                @if (SledCategories != null)
                                {
                                @foreach (var sCategory in SledCategories)
                                    {
                                    <option value="@sCategory.SledCategoryID">@sCategory.Title</option>
                                    }
                                }
                        </InputSelect>
                        <ValidationMessage For="() => Sled.SledCategoryID" class="col" />
                    </div>
                    }
                </div>
                <p />
                <input class="btn btn-primary" type="submit" value="Submit" style="float: right">
            </EditForm>
        </section>
    </Authorized>
    <NotAuthorized>
       <h1>You don't have the rights to see this page. . .</h1>
    </NotAuthorized>
</AuthorizeView>