﻿@page "/reservation"
@using SledRentals_DeOliveira.Data

@inject IUnitOfWork uow;

<AuthorizeView>
    <Authorized>
        <PageTitle>Reservation</PageTitle>

        <h3>Reservation Overview</h3>

        @if (rentals == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Valid From</th>
                        <th>Valid To</th>
                        <th>User Email</th>
                        <th>User Lastname</th>
                        <th>Sled</th>
                        <th>Sled Category</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Rental in rentals)
                    {
                        <tr>
                            <td>@Rental.Date</td>
                            <td>@Rental.ValidFrom</td>
                            <td>@Rental.ValidTo</td>
                            <td>@Rental.User.Email</td>
                            <td>@Rental.User.LastName</td>
                            <td>@Rental.Sled.Title</td>
                            <td>@Rental.Sled.SledCategory.Title</td>
                            <td>
                                <a class="btn btn-primary" @onclick="@(() => DeleteRentalAsync(Rental.RentalID))"><i class="oi oi-trash"></i></a>
                                <a class="btn btn-primary" href="@($"rentaledit/{Rental.RentalID}")"><i class="oi oi-pencil"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="/rentaledit">Create a new reservation</a>
        }
    </Authorized>
    <NotAuthorized>
        <h1>Access denied!</h1>
    </NotAuthorized>
</AuthorizeView>


