﻿@page "/rentaledit"
@page "/rentaledit/{RentalID}"
@using SledRentals_DeOliveira.Data
@using SledRentals_DeOliveira.Data.Models

@inject IUnitOfWork uow
@inject IHttpContextAccessor httpContextAcessor
@inject NavigationManager NavManager

<AuthorizeView Context="authContext">
    <Authorized>
        <section class=Product_edit>
            <EditForm Model="@Rental" OnValidSubmit=@OnValidSubmission Context="formContext">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="form-btn-group row">
                    @if (@RentalID != null)
                    {
                        <h1 class="page-title">Details for @Rental.RentalID</h1>
                        <hr />
                        @*Date*@
                        <label for="date" class="col-sm-2 col-form-label">
                            Date
                        </label>
                        <div class="col-sm-10">
                            <InputDate id="date" @bind-Value="@Rental.Date" class="form-control" />
                            <ValidationMessage For="() => Rental.Date" class="col" />
                        </div>
                        @*Valid from*@
                        <label for="validfrom" class="col-sm-2 col-form-label">
                            Valid From
                        </label>
                        <div class="col-sm-10">
                            <InputDate id="validfrom" @bind-Value="@Rental.ValidFrom" class="form-control" />
                            <ValidationMessage For="() => Rental.ValidFrom" class="col" />
                        </div>
                        @*Valid To*@
                        <label for="validto" class="col-sm-2 col-form-label">
                            Valid To
                        </label>
                        <div class="col-sm-10">
                            <InputDate id="validto" @bind-Value="@Rental.ValidTo" class="form-control" />
                            <ValidationMessage For="() => Rental.ValidTo" class="col" />
                        </div>
                        @*Sled*@
                        <label for="sled" class="col-sm-2 col-form-label">
                            Sled
                        </label>
                        <div class="col-sm-10">
                            <InputSelect id="sled" @bind-Value="@Rental.SledID" class="form-control">
                                @if (Sleds != null)
                                {
                                @foreach (var sled in Sleds)
                                    {
                                        <option value="@sled.SledID">@sled.Title</option>
                                    }
                                }
                        </InputSelect>
                        <ValidationMessage For="() => Rental.SledID" class="col" />
                    </div>
                    }
                    else
                    {
                        <hr />
                        @*Date*@
                        <label for="date" class="col-sm-2 col-form-label">
                            Date
                        </label>
                        <div class="col-sm-10">
                            <InputDate id="date" @bind-Value="@Rental.Date" class="form-control" />
                            <ValidationMessage For="() => Rental.Date" class="col" />
                        </div>
                        @*Valid from*@
                        <label for="validfrom" class="col-sm-2 col-form-label">
                            Valid From
                        </label>
                        <div class="col-sm-10">
                            <InputDate id="validfrom" @bind-Value="@Rental.ValidFrom" class="form-control" />
                            <ValidationMessage For="() => Rental.ValidFrom" class="col" />
                        </div>
                        @*Valid To*@
                        <label for="validto" class="col-sm-2 col-form-label">
                            Valid To
                        </label>
                        <div class="col-sm-10">
                            <InputDate id="validto" @bind-Value="@Rental.ValidTo" class="form-control" />
                            <ValidationMessage For="() => Rental.ValidTo" class="col" />
                        </div>
                        @*Sled*@
                        <label for="sled" class="col-sm-2 col-form-label">
                            Sled
                        </label>
                        <div class="col-sm-10">
                            <InputSelect id="sled" @bind-Value="@Rental.SledID" class="form-control">
                                @if (Sleds != null)
                                {
                                @foreach (var sled in Sleds)
                                    {
                                        <option value="@sled.SledID">@sled.Title</option>
                                    }
                                }
                        </InputSelect>
                        <ValidationMessage For="() => Rental.SledID" class="col" />
                    </div>
                    }
                </div>
                <p />
                <input class="btn btn-primary" type="submit" value="Submit" style="float: right">
            </EditForm>
        </section>
    </Authorized>
    <NotAuthorized>
        <h1>Please log in to see this page. . .</h1>
    </NotAuthorized>
</AuthorizeView>